@import 'global/animation';
@import 'global/base';
@import 'global/menu-drawer';
@import 'global/search-drawer';
@import 'global/order-drawer';
@import 'global/landing-page-drawer';
@import 'global/login-drawer';
@import 'global/header';
@import 'global/mega-menu';
@import 'global/newsletter';
@import 'global/footer';