@import 'templates/front-page';
@import 'templates/team-page';
@import 'templates/product-range';
@import 'templates/product-page';
@import 'templates/user-account';
@import 'templates/resources';
@import 'templates/news-page';
@import 'templates/news-post';
@import 'templates/post-category';
@import 'templates/projects';
@import 'templates/careers';
@import 'templates/career-post';
@import 'templates/account-register';
@import 'templates/book-appointment';
@import 'templates/search-results';
@import 'templates/contact-page';
@import 'templates/landing-page';