@mixin icon_control {
	font-family: $fontawesome_pro;
	transform: none;
	font-weight: 300;
	font-size: 18px;
	color: $steel;
	position: absolute;
	top: 10px;
	z-index: 1;
}
.book-appointment {
	@include e('main') {
		@extend %pad;
	}
	
	@include e('the-form') {
		background-color: $grey_light;
		padding: $default_spacing_xs;
		@include media-breakpoint-up(md) {
			padding: $default_spacing_sm;
		}
		textarea {
			height: 200px;
		}
		.gfield_checkbox {
			cursor: pointer;
			.gchoice {
				display: flex;
			}
			input {
				cursor: pointer;
				background-color: $white;
				-webkit-appearance: none;
				   -moz-appearance: none;
				        appearance: none;
				width: 20px;
				height: 20px;
				padding: 0;
				position: relative;
				margin-right: 10px;
				@include radius(4px);
				flex: none;
				&::after {
					content: "\f00c";
					font-family: $fontawesome_pro;
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					text-align: center;
					transform: translateY(-45%);
					color: transparent;
					font-size: 12px;
					font-weight: 700;
					@extend %transition;
				}
				&:checked::after {
					color: $green;
				}
			}
			label {
				cursor: pointer;
				font-weight: 400 !important;
				font-size: 14px;
				flex: 1;
			}
		}
		.ginput_container_select {
			position: relative;
			&::before {
				@include icon_control;
				content: "\f82d";
				left: 15px;
			}
			&::after {
				@include icon_control;
				content: "\f0d7";
				right: 15px;
			}
			
			.gfield_select {
				background-color: $white;
				-webkit-appearance: none;
				   -moz-appearance: none;
				        appearance: none;
				width: 100%;
				border: none;
				padding: 10px 15px 10px 45px;
				font-size: 18px;
				position: relative;
				option {
					-webkit-appearance: none;
					   -moz-appearance: none;
					        appearance: none;
					background-color: pink;
				}
			}
		}
		button {
			&[type="submit"] {
				.button-span {
					background-color: $steel;
					color: $green !important;
					span {
						background-color: $green;
						&::before { color: $steel !important; }
						&::after { color: $steel !important; }
					}
				}
			}
		}
	}
}