.front-page {
	
	@include e('featured-content') {
		@include m('scroll') {
			background-attachment: scroll;
		}
		@include m('fixed') {
			background-attachment: scroll;
			@include media-breakpoint-up(md) {
				background-attachment: fixed;
			}
		}
		@include e('overlay') {
			@include m('dark') {
				background-color: rgba($dark,0.55);
				p, ol li, ul li, h1, h2, h3, h4, h5, h6 {
					color: $white;
				}
			}
			@include m('light') {
				background-color: rgba($light,0.55);
				p, ol li, ul li, h1, h2, h3, h4, h5, h6 {
					color: $steel;
				}
			}
			@include m('black') {
				background-color: rgba($black,0.55);
				p, ol li, ul li, h1, h2, h3, h4, h5, h6 {
					color: $white;
				}
			}
			@include m('white') {
				background-color: rgba($white,0.55);
				p, ol li, ul li, h1, h2, h3, h4, h5, h6 {
					color: $steel;
				}
			}
			
			@include m('padding-small') {
				padding: $default_spacing_sm 0;
				@include media-breakpoint-up(md) {
					padding: $default_spacing_lg 0;
				}
			}
			@include m('padding-medium') {
				padding: $default_spacing_md 0;
				@include media-breakpoint-up(md) {
					padding: 150px 0;
				}
			}
			@include m('padding-large') {
				padding: $default_spacing_lg 0;
				@include media-breakpoint-up(md) {
					padding: 200px 0;
				}
			}
			@include m('padding-xlarge') {
				padding: 170px 0;
				@include media-breakpoint-up(md) {
					padding: 280px 0;
				}
			}
			@include m('padding-xxl') {
				padding: 200px 0;
				@include media-breakpoint-up(md) {
					padding: 250px 0;
				}
				@include media-breakpoint-up(lg) {
					padding: 270px 0;
				}
				@include media-breakpoint-up(xl) {
					padding: 300px 0;
				}
				@include media-breakpoint-up(xxl) {
					padding: 340px 0;
				}
			}
		}
		@include e('content') {
			@include featured_content_control;
		}
	}
	
	
	@include e('quick-links') {
		@extend %pad;
		background-color: $white;
		
		@include e('intro') {
			margin-bottom: $default_spacing_sm;
		}
		@include e('links') {
			
		}
		@include e('link') {
			height: 240px;
			display: block;
			width: 100%;
			position: relative;
			margin-bottom: $default_spacing_xs;
			@include media-breakpoint-up(md) {
				height: 340px;
			}
		}
		@include e('anchor') {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			text-decoration: none;
			
			.link-overlay {
				min-width: 100%;
				display: inline-block;
				height: 100%;
				position: absolute;
				@extend %transition;
				@include media-breakpoint-up(md) {
					min-width: 0;
				}
			}
			@include m('green') {
				.link-overlay {
					background-color: rgba($green,0.85);
				}
			}
			@include m('steel') {
				.link-overlay {
					background-color: rgba($steel,0.85);
				}
				.link-title, .link-description {
					color: $white !important;
				}
			}
			@include m('light') {
				.link-overlay {
					background-color: rgba($grey_light,0.85);
				}
			}
			
			.link-content {
				//padding: 0 20px;
				height: 100%;
				position: relative;
				display: flex;
				align-items: flex-start;
				@include media-breakpoint-up(md) {
					overflow: hidden;
				}
				@include m('inner') {
					position: relative;
					width: 100%;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					padding: 0 20px;
					@extend %transition;
					@include media-breakpoint-up(md) {
						transform: none;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						padding: 0 40px;
					}
				}
			}
			.link-title {
				color: $steel;
				white-space: nowrap;
				position: relative;
				display: inline-block;
				font-size: 22px;
				font-weight: 300;
				margin-bottom: 10px;
				&::after {
					content: "\f054";
					font-family: $fontawesome_pro;
					position: absolute;
					font-size: 18px;
					margin-left: 8px;
					top: 50%;
					transform: translateY(-50%);
				}
				@include media-breakpoint-up(md) {
					font-size: 34px;
					font-weight: 200;
					margin-bottom: 30px;
				}
			}
			.link-description {
				color: $steel;
				opacity: 1;
				font-size: 14px;
				@extend %transition;
				@include media-breakpoint-up(md) {
					opacity: 0;
					font-size: 18px;
				}
			}
			&:hover {
				.link-content {
					@include m('inner') {
						transform: translateY(-50%);
					}
				}
				.link-overlay {
					min-width: 100%;
				}
				.link-description {
					opacity: 1;
				}
			}
		}
		@include e('link-overlay') {
			
		}
		@include e('link-content') {
			
		}
	}
	
	@include e('mission-statement') {
		@extend %pad;
		background-color: $steel;
		@include e('heading') {
			h2 {
				color: $white;
			}
			h5 {
				color: $green;
			}
		}
		@include e('content') {
			p {
				color: $white;
			}
		}
	}
	
	@include e('why-choose-us') {
		background-color: $grey_light;
		@extend %pad;
		@include e('intro') {
			margin-bottom: $default_spacing_xs;
			@include media-breakpoint-up(md) {
				margin-bottom: $default_spacing_md;
			}
		}
		@include e('usps') {
			
		}
		@include e('usp') {
			//background-color: $steel;
			//padding: 20px;
			margin-bottom: $default_spacing_md;
			//@include radius(4px);
			@include media-breakpoint-up(md) {
				//padding: 30px;
				margin-bottom: $default_spacing_lg;
				//@include radius(10px);
			}
		}
		@include e('usp-heading') {
			color: $steel;
			font-weight: 400;
			text-transform: uppercase;
			position: relative;
			&::after {
				content: '';
				width: 30%;
				height: 1px;
				background-color: $steel;
				position: absolute;
				bottom: -40%;
				left: 0;
				//transform: translateX(-50%);
			}
		}
		@include e('usp-icon') {
			color: $green;
			font-size: 38px;
			@include media-breakpoint-up(md) {
				font-size: 48px;
			}
			@include media-breakpoint-up(xl) {
				font-size: 56px;
			}
			@include media-breakpoint-up(xxl) {
				font-size: 72px;
			}
		}
		@include e('usp-text') {
			color: $steel;
			font-size: 16px;
			@include media-breakpoint-up(md) {
				font-size: 18px;
			}
		}
	}
	
	@include e('companies') {
		@extend %pad;
		@include e('intro') {
			margin-bottom: $default_spacing_sm;
		}
		@include accreditations_control;
		
		@include e('items') {
		    display: flex;
		    justify-content: center;
		    flex-wrap: wrap;
		    align-items: center;
		}
		@include e('item') {
		    margin: 20px;
		}
		@include e('item-logo') {
		    max-width: 150px;
		    max-height: 85px;
		    @include media-breakpoint-up(sm) {
		    	max-width: 200px;
		    }
		    @include media-breakpoint-up(md) {
		    	max-width: 300px;
		    	max-height: 90px;
		    }
		    @include media-breakpoint-up(lg) {
		    	max-height: 90px;
		    }
		}
	}
	
	@include e('quick-links-lower') {
		@include e('overlay') {
			@extend %pad;
			background-color: rgba($black,0.5);
		}
		@include e('links') {
			
		}
		@include e('link') {
			margin-bottom: $default_spacing_xs;
			@include media-breakpoint-up(md) {
				margin: $default_spacing_sm $default_spacing_xs;
			}
		}
		@include e('link-text') {
			& * {color: $white;}
		}
		@include e('link-button') {
			
		}
	}
	
	@include e('accreditations') {
		@extend %pad;
		@include e('intro') {
			margin-bottom: $default_spacing_sm;
		}
		@include accreditations_control;
	}
}