.landing-page {
	@include e('header') {
		@extend %transition;
		padding: 30px 0;
		&.sticky-header {
			position: fixed;
			width: 100%;
			display: block;
			top: 0;
			z-index: 1000;
		}
		&.scrolled {
			@include boxshadow;
		}
	}
	@include e('header-logo-container') {
		img {
			@extend %transition;
		}
		&.scrolled {
			img {
				@include media-breakpoint-up(md) {
					max-width: 70%;
				}
			}
		}
	}
	@include e('heading') {
		@include e('overlay') {
			padding: 150px 0 100px;
			@include media-breakpoint-up(md) {
				padding: 200px 0 150px;
			}
		}
		@include e('content') {
			@include featured_content_control;
			ul li {
				list-style-type: none;
			}
		}
	}
}