.search-results {
	@extend %pad;
	
	@include e('results') {
		
	}
	@include e('post') {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $steel;
	}
	@include e('post-title') {
		margin: 0;
		i {
			font-size: 16px;
			margin-right: 20px;
		}
		a {
			color: $green;
			text-decoration: none;
			@extend %transition;
			&:hover {
				color: $steel;
			}
		}
	}
}