@include e('call-to-action') {
	
	@include e('content') {
		&.content-colour {
			@include colour_control;
		}
		:where(img[class*=wp-image-]) {
			@include media-breakpoint-up(md) {
				max-width: 100%;
			}
			&.half-width {
				max-width: 50%;
				@include media-breakpoint-up(md) {
					max-width: 50%;
				}
			}
		}
	}
	
	border: ($default_spacing_xs - 10) solid $white;
	@include media-breakpoint-up(md) {
		border-width: ($default_spacing_xs + 20);
	}
	
	@include media-breakpoint-up(md) {
		&.pad {
			padding: 150px 0;
		}
		&.pad-top {
			padding-top: 150px;
		}
		&.pad-bottom {
			padding-bottom: 150px;
		}
	}
	@include media-breakpoint-up(lg) {
		&.pad {
			padding: 180px 0;
		}
		&.pad-top {
			padding-top: 180px;
		}
		&.pad-bottom {
			padding-bottom: 180px;
		}
	}
}