@include e('colour-range') {
	@extend %pad;
	
	@include section_intro;
	
	@include e('range-container') {
		
	}
	@include e('range-option') {
		position: relative;
		padding-bottom: 56.25%;
		width: 100%;
		display: block;
	}
	@include e('option-image') {
		
	}
	@include e('option-swatch') {
		position: absolute;
		width: 60px;
		height: 60px;
		@include radius(200px);
		bottom: -20px;
		left: 50%;
		transform: translateX(-50%);
		@include m('full') {
			width: 100%;
			height: 100%;
			bottom: 0;
		}
		
		@include media-breakpoint-up(lg) {
			width: 80px;
			height: 80px;
		}
	}
	@include e('option-content') {
		position: relative;
		@include colour_control;
		padding-top: 30px;
		text-align: center;
		h6 {
			margin: 0;
		}
	}
}