@include e('contact') {
	@include e('content') {
		&.content-colour {
			@include colour_control;
			@include m('dark') {
				hr { background-color: $steel; }
			}
			@include m('light') {
				hr { background-color: $grey_light; }
			}
			@include m('black') {
				hr { background-color: $black; }
			}
			@include m('white') {
				hr { background-color: $white; }
			}
		}
	}
	@include e('departments') {
		
	}
	@include departments_list;
	
	@include e('form') {
		background-color: $grey_light;
		padding: $default_spacing_xs;
		@include media-breakpoint-up(md) {
			padding: $default_spacing_sm;
		}
		.gfield_checkbox {
			cursor: pointer;
			.gchoice {
				display: flex;
			}
			input {
				cursor: pointer;
				background-color: $white;
				-webkit-appearance: none;
				   -moz-appearance: none;
				        appearance: none;
				width: 20px;
				height: 20px;
				padding: 0;
				position: relative;
				margin-right: 10px;
				@include radius(4px);
				flex: none;
				&::after {
					content: "\f00c";
					font-family: $fontawesome_pro;
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					text-align: center;
					transform: translateY(-45%);
					color: transparent;
					font-size: 12px;
					font-weight: 700;
					@extend %transition;
				}
				&:checked::after {
					color: $green;
				}
			}
			label {
				cursor: pointer;
				font-weight: 400 !important;
				font-size: 14px;
				flex: 1;
			}
		}
		textarea {
			height: 200px;
		}
		button {
			&[type="submit"] {
				.button-span {
					background-color: $steel;
					color: $green !important;
					span {
						background-color: $green;
						&::before { color: $steel !important; }
						&::after { color: $steel !important; }
					}
				}
			}
		}
	}
}