@include e('featured-content') {
	
	position: relative;
	overflow: hidden;
	@include e('background-splash') {
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		@include m('video') {
			overflow: hidden;
		}
	}
	
	@include e('splash-item') {
		height: 100%;
		width: 100%;
		display: block;
		@include m('video') {
			video {
				@include video_splash;
			}
		}
	}
	
	
	@include e('overlay') {
		@include m('dark') {
			background-color: rgba($dark,0.55);
			p, ol li, ul li, h1, h2, h3, h4, h5, h6 {
				color: $white;
			}
		}
		@include m('light') {
			background-color: rgba($light,0.55);
			p, ol li, ul li, h1, h2, h3, h4, h5, h6 {
				color: $steel;
			}
		}
		@include m('black') {
			background-color: rgba($black,0.55);
			p, ol li, ul li, h1, h2, h3, h4, h5, h6 {
				color: $white;
			}
		}
		@include m('white') {
			background-color: rgba($white,0.55);
			p, ol li, ul li, h1, h2, h3, h4, h5, h6 {
				color: $steel;
			}
		}
		
		@include m('padding-small') {
			padding: $default_spacing_sm 0;
			@include media-breakpoint-up(md) {
				padding: $default_spacing_lg 0;
			}
		}
		@include m('padding-medium') {
			padding: $default_spacing_md 0;
			@include media-breakpoint-up(md) {
				padding: 150px 0;
			}
		}
		@include m('padding-large') {
			padding: $default_spacing_lg 0;
			@include media-breakpoint-up(md) {
				padding: 200px 0;
			}
		}
		@include m('padding-xlarge') {
			padding: 170px 0;
			@include media-breakpoint-up(md) {
				padding: 280px 0;
			}
		}
		@include m('padding-xxl') {
			padding: 170px 0;
			@include media-breakpoint-up(md) {
				padding: 280px 0;
			}
			@include media-breakpoint-up(lg) {
				padding: 350px 0;
			}
		}
	}
	@include e('content') {
		@include featured_content_control;
	}
}