@include e('featured-content-slider') {
	@extend %pad;
	@include e('intro') {
		
	}
	@include e('buttons') {
		@include product_range_buttons;
		justify-content: start;
	}
	@include e('slider-container') {
		position: relative;
	}
	@include e('background-image-slider') {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		.slick-list, .slick-track {
			width: 100%;
			height: 100%;
		}
	}
	@include e('background-image-slider-item') {
		width: 100%;
		height: 100%;
	}
	@include e('slider-overlay') {
		background: linear-gradient(to right, rgba($black,0.9), rgba($black,0.2));
		padding: 100px 0;
		@include media-breakpoint-up(md) {
			padding: 140px 0;
		}
		@include media-breakpoint-up(xxl) {
			padding: 170px 0;
		}
	}
	@include e('slider') {
		
	}
	@include e('slider-item') {
		
	}
	@include e('slider-item-content') {
		p,a,h1,h2,h3,h4,h5,h6,ul,ul li,ol,ol li {
			color: $white;
		}
		p {
			font-size: 16px;
			@include media-breakpoint-up(md) {
				font-size: 18px;
			}
		}
	}
	@include e('slider-item-content-buttons') {
		@include product_range_buttons;
		justify-content: start;
	}
	@include e('slider-arrows') {
		text-align: start;
		button {
			width: 40px;
			height: 40px;
			border: none;
			background-color: $green;
			color: $steel;
			margin: 0 10px 0 0;
			position: relative;
			@extend %transition;
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			
			&.slick-disabled {
				opacity: 0.5;
			}
		}
	}
}