@include e('nbs-frame') {
	@include e('content') {
		&.content-colour {
			@include colour_control;
		}
	}
	@include e('wrapper') {
		position: relative;
		padding-bottom: 120%;
		height: 0;
		background-color: $white;
		iframe {
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
		}
		@include media-breakpoint-up(md) {
			padding-bottom: 56.25%; /* 16:9 */
		}
	}
}