@include e('options-showcase') {
	@extend %pad;
	@include e('intro') {
		
	}
	@include e('products') {
		
	}
	@include e('product') {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	@include e('product-heading') {
		position: relative;
		&::after {
			content: '';
			width: 100%;
			height: 170px;
			background-color: $steel;
			display: block;
		}
		@include media-breakpoint-up(lg) {
			&::after {
				height: 200px;
			}
		}
		@include media-breakpoint-up(xl) {
			&::after {
				height: 280px;
			}
		}
		@include media-breakpoint-up(xxl) {
			&::after {
				height: 310px;
			}
		}
	}
	@include e('product-name') {
		background-color: $green;
		display: block;
		padding: 15px;
		h3 {
			font-size: 20px;
			color: $white;
			margin: 0;
			font-weight: 600;
			a {
				color: $white;
				text-decoration: none;
			}
		}
		
		@include media-breakpoint-up(lg) {
			padding: 20px;
		}
		@include media-breakpoint-up(xxl) {
			padding: 35px 25px;
		}
	}
	@include e('product-image') {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20px;
		height: 100%;
		max-height: 170px;
		max-width: 100%;
		@include media-breakpoint-up(lg) {
			max-height: 200px;
		}
		@include media-breakpoint-up(xl) {
			max-height: 90%;
		}
	}
}