@include e('resources') {
	@include e('intro-text') {
		&.content-colour {
			@include colour_control;
		}
	}
	@include e('items') {
		&.content-colour {
			@include m('dark') {
				h4 a { color: $steel; }
			}
			@include m('light') {
				h4 a { color: $grey_light; }
			}
			@include m('black') {
				h4 a { color: $black; }
			}
			@include m('white') {
				h4 a { color: $white; }
			}
		}
	}
	@include e('item') {
		margin: 20px 0 40px 0;
	}
	@include e('item-thumb') {
		padding-bottom: 141.42%;
		position: relative;
		margin-bottom: 20px;
	}
	@include e('item-link') {
		position: absolute;
		display: block;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.15);
		@extend %transition;
		&:hover {
			background-color: rgba(0,0,0,0);
		}
		i {
			position: absolute;
			left: 50%;
			bottom: 20px;
			transform: translateX(-50%);
			color: $green;
			font-size: 24px;
			@extend %transition;
			--fa-primary-opacity: 1;
			--fa-secondary-opacity: 1;
			--fa-primary-color: #FFFFFF;
			--fa-secondary-color: #AAC642;
		}
		@include media-breakpoint-up(md) {
			&:hover {
				i {
					font-size: 32px;
				}
			}
		}
	}
	@include e('item-title') {
		a {
			text-decoration: none;
			@extend %transition;
			&:hover {
				color: $green;
			}
		}
	}
}