@include e('specifications') {
	@extend %pad;
	@include section_intro;
	
	@include e('main-content') {
		
	}
	@include e('specs') {
		
	}
	
	@include e('slider-pager') { // the container
		//@include make-container;
	}
	@include e('slider-dots') { // the ul
		margin: 0;
		padding: 0;
		width: 100%;
		li {
			list-style-type: none;
			width: 46%;
			display: inline-block;
			margin: 5px;
			button {
				width: 100%;
				text-align: center;
				background-color: $grey_light;
				color: $steel;
				border: none;
				@extend %transition;
				text-transform: uppercase;
				font-size: 14px;
				padding: 6px;
			}
			&.slick-active {
				button {
					background-color: $green;
				}
			}
		}
		
		@include media-breakpoint-up(md) {
			text-align: center;
			margin-bottom: 30px;
			li {
				width: auto;
				margin: 0 15px 1rem;
				button {
					padding: 10px 20px;
					font-size: 18px;
				}
			}
		}
	}
	
	@include e('slider') {
		
	}
	@include e('spec-category-slide') {
		
	}
	@include e('spec-category-slide-title') {
		display: none;
	}
	
	@include e('spec-category-thumbs') {
		
	}
	@include e('spec-category-thumb') {
		margin-bottom: $default_spacing_xs;
		position: relative;
		&.active, &:hover {
			img {
				opacity: 1;
			}
		}
	}
	@include e('spec-category-img') {
		width: 100%;
		margin-bottom: 10px;
		cursor: pointer;
		opacity: 0.7;
		@extend %transition;
		/*@include media-breakpoint-up(md) {
			width: 120px;
		}
		@include media-breakpoint-up(xl) {
			width: 150px;
		}*/
	}
	
	@include e('spec-image-title') {
		font-size: 10px;
		font-weight: 600;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%,0%);
		background-color: rgba($black,0.5);
		color: $white;
		text-align: center;
		cursor: pointer;
		padding: 3px;
		width: 100%;
		@include media-breakpoint-up(md) {
			font-size: 12px;
		}
		@include media-breakpoint-up(xl) {
			font-size: 16px;
			padding: 5px;
		}
	}
	
	@include e('main-image') {
		position: relative;
		height: 240px;
		@include media-breakpoint-up(md) {
			height: 260px;
		}
		@include media-breakpoint-up(lg) {
			height: 400px;
		}
		@include media-breakpoint-up(xl) {
			height: 500px;
		}
		@include media-breakpoint-up(xxl) {
			height: 550px;
		}
	}
	@include e('desc-image') {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 240px;
		z-index: 0;
		opacity: 0 !important;
		background-color: $white;
		//@extend %transition;
		&.show {
			opacity: 1 !important;
		}
		&.img-null {
			background-color: transparent !important;
		}
		
		@include media-breakpoint-up(md) {
			height: 260px;
		}
		@include media-breakpoint-up(lg) {
			height: 400px;
		}
		@include media-breakpoint-up(xl) {
			height: 500px;
		}
		@include media-breakpoint-up(xxl) {
			height: 550px;
		}
	}
	@include e('descriptions') {
		position: relative;
		display: block;
		height: 0;
		@extend %transition;
	}
	@include e('spec-desc') {
		color: $white;
		background-color: $green;
		padding: 10px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		margin-bottom: 0;
		width: 100%;
		opacity: 0;
		@extend %transition;
		font-size: 14px;
		&.show {
			opacity: 1;
		}
		@include m('empty') {
			background-color: transparent;
			padding: 0;
			height: 0;
		}
		
		@include media-breakpoint-up(md) {
			padding: 15px;
		}
	}
}