@include e('usps-rollover') {
	@extend %pad;
	
	@include section_intro;
	@include e('intro') {
		margin: 0;
	}
	
	@include e('usps') {
		display: flex;
		flex-direction: column;
		gap: 16px;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			flex-wrap: wrap;
		}
		@include media-breakpoint-up(xxl) {
			flex-wrap: nowrap;
		}
	}
	@include e('usp') {
		@include colour_control;
		position: relative;
		@include media-breakpoint-up(md) {
			width: calc(50% - 8px);
		}
		@include media-breakpoint-up(lg) {
			height: 480px;
		}
		@include media-breakpoint-up(xl) {
			width: calc(33% - 8px);
		}
		@include media-breakpoint-up(xxl) {
			width: 100%;
			height: 650px;
		}
	}
	
	@include e('usp-overlay') {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		@include m('overlay-1') {
			background: linear-gradient(to right, rgba($black,0.8), rgba($black,0.3));
		}
		@include m('overlay-2') {
			max-height: 0;
			background: $green;
			@extend %transition;
			@include media-breakpoint-up(lg) {
				.page-builder__usps-rollover__usp:hover & {
			        max-height: 480px;
			    }
			}
			@include media-breakpoint-up(xxl) {
				.page-builder__usps-rollover__usp:hover & {
			        max-height: 650px;
			    }
			}
		}
	}
	@include e('usp-content') {
		position: relative;
		padding: 50px 30px;
		
		@include media-breakpoint-up(lg) {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	@include e('usp-content-header') {
		
	}
	@include e('usp-icon') {
		font-size: 54px;
		color: $white;
		@extend %transition;
		opacity: 1;
		max-height: 200px;
		overflow: hidden;
		@include media-breakpoint-up(md) {
			font-size: 65px;
		}
		@include media-breakpoint-up(lg) {
			.page-builder__usps-rollover__usp:hover & {
		        opacity: 0;
		        max-height: 0px;
		    }
		}
	}
	@include e('usp-heading') {
		font-size: 24px;
		color: $white;
		margin-bottom: 10px;
		font-weight: 600;
		a {
			color: $green;
			text-decoration: none;
			&::after {
				font-family: $fontawesome_pro;
				content: " \f054";
				font-size: 18px;
			}
			@include media-breakpoint-up(lg) {
				color: $steel;
			}
		}
	}
	@include e('usp-content-text') {
		overflow: hidden;
		@extend %transition;
		@include media-breakpoint-up(lg) {
			max-height: 0;
			.page-builder__usps-rollover__usp:hover & {
		        max-height: 480px;
		    }
		}
		@include media-breakpoint-up(xxl) {
			max-height: 0;
			.page-builder__usps-rollover__usp:hover & {
		        max-height: 650px;
		    }
		}
	}
	@include e('usp-desc') {
		p {
			color: $white;
			margin: 0;
			&.button {
				display: block;
				text-align: center;
				margin: 20px auto 0;
				a {
					background-color: $green;
					padding: 8px 10px;
					margin-right: 0;
					@include radius(4px);
					span {
						display: none;
					}
					@include media-breakpoint-up(lg) {
						background-color: $steel;
					}
				}
			}
		}
		@include media-breakpoint-up(xl) {
			font-size: 1.1rem;
		}
	}
}