@include e('video-embed') {
	@include e('intro-text') {
		&.content-colour {
			@include colour_control;
		}
	}
	@include e('container') {
		padding-bottom: 56.25%;
		position:relative;
		iframe {
			position:absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
		}
	}
}