@mixin footer_section_default {
    padding-bottom: $default_spacing_xs;
    margin-bottom: $default_spacing_xs;
    border-bottom: 1px solid $white;
    @include media-breakpoint-up(md) {
        padding: 0;
        margin: 0;
        border: none;
    }
}

.footer {
    @include e('social') {
        padding: 20px 0;
        background-color: $grey_light;
        
        @include media-breakpoint-up(md) {
            padding: 30px 0;
        }
        
        @include e('items') {
            text-align: center;
        }
        @include e('item') {
            display: inline-block;
            font-size: 22px;
            
            @include media-breakpoint-up(md) {
                font-size: 28px;
            }
            
            a {
                color: $steel;
                @extend %transition;
                &:hover {
                    color: $green;
                }
            }
        }
    }
    
    @include e('main') {
        @extend %pad;
        background-color: $steel;
        
        @include e('logo-container') {
        }
        @include e('logo') {
            max-height: 62px;
        }
        @include e('contact') {
            padding-left: 10px;
        }
        @include e('contact-item') {
            display: block;
            font-size: 20px;
            font-weight: 100;
            a {
                display: block;
                position: relative;
                padding-left: 40px;
                color: $white;
                text-decoration: none;
                @extend %transition;
                
                &:hover {
                    color: $green;
                }
                
                i {
                    position: absolute;
                    top: 8px;
                    left: 0;
                    font-weight: 100;
                }
            }
            
            @include media-breakpoint-up(md) {
                font-size: 24px;
            }
            
            @include m('smol') {
                font-size: 16px;
                a {
                    padding-left: 30px;
                    i {
                        top: 3px;
                    }
                }
            }
        }
        .login-click {
            color: $white;
            cursor: pointer;
            @extend %transition;
            &:hover { color: $green; }
            i {
                margin-right: 5px;
            }
        }
        @include e('menu') {
            h6 {
                color: $green;
                font-weight: 300;
            }
            ul {
                @extend %pmreset;
                li {
                    list-style-type: none;
                    font-size: 16px;
                    font-weight: 100;
                    a {
                        color: $white;
                        text-decoration: none;
                        @extend %transition;
                        &:hover {
                            color: $green;
                        }
                    }
                }
            }
            @include m('inline') {
                ul {
                    li {
                        display: inline-block;
                        margin-right: 15px;
                        ul {
                            display: none;
                        }
                    }
                }
            }
        }
        
        @include m('section-1') {
            @include footer_section_default;
        }
        @include m('section-2') {
            @include footer_section_default;
        }
        @include m('section-3') {
            @include footer_section_default;
        }
        @include m('section-4') {
            @include footer_section_default;
            ul li a {
                color: $green;
                &:hover {
                    color: $white;
                }
            }
            
            
        }
    }
    
    @include e('base') {
        padding: 20px 0;
        background-color: $green;
        
        @include media-breakpoint-up(md) {
            padding: 30px 0;
        }
        
        @include e('copy') {
            font-size: 16px;
        }
        @include e('credit') {
            img {
                max-width: 60px;
                height: auto;
            }
        }
    }
}