.header {
	
	&.scrolled {
		@include boxshadow;
	}
	
	@include e('top-bar') {
		background-color: $green;
		max-height: 200px;
		
		@include e('item') {
			border-right: 1px solid $white;
			&:last-child {
				border-right: none;
			}
			@include media-breakpoint-up(md) {
				border-right: none;
			}
		}
		@include e('item-content') {
			@extend %transition;
			a {
				display: block;
				padding: 8px 0;
				@include media-breakpoint-up(md) {
					padding: 8px 16px;
				}
			}
			
			@include m('contact') {
				background-color: $green;
				color: $steel;
				a {
					color: $steel;
				}
				@include media-breakpoint-up(md) {
					&:hover {
						background-color: $steel;
						a {
							color: $white;
						}
					}
				}
			}
			@include m('order') {
				background-color: $steel;
				color: $green;
				position: relative;
				height: 100%;
				padding: 8px 20px;
				cursor: pointer;
				a {
					color: $green;
				}
			}
			@include m('latest-news') {
				background-color: #2c7daa;
				color: $white;
				a {
					color: $white;
				}
			}
			@include m('spec-builder') {
				background-color: #e25098;
				color: $white;
				a {
					color: $white;
				}
			}
			a {
				text-decoration: none;
			}
		}
	}
	
	@include e('main') {
		padding: $default_spacing_xs 0;
		@extend %transition;
		&.scrolled {
			padding: 10px 0;
		}
		@include e('logo-container') {
			max-width: 80%;
			@extend %transition;
			&.scrolled {
				max-width: 60%
			}
			@include media-breakpoint-up(md) {
				max-width: 100%;
			}
			@include media-breakpoint-up(lg) {
				max-width: 80%;
			}
		}
		@include e('utilities') {
			
		}
		@include e('utility') {
			font-size: 24px;
			margin: 0 ($default_spacing_xs - 5);
			cursor: pointer;
			@extend %radius;
			&.scrolled {
				font-size: 18px;
			}
			@include media-breakpoint-up(md) {
				font-size: 20px;
				padding: 8px 15px;
				margin: 0 0 0 $default_spacing_xs;
				@include m('search') {
					background-color: $grey_light;
				}
				@include m('latest-news') {
					background-color: #2c7daa;
					color: $white;
					a {
						color: $white;
					}
				}
				@include m('spec-builder') {
					background-color: #e25098;
					color: $white;
					a {
						color: $white;
					}
				}
				@include m('login') {
					background-color: $green;
					color: $white;
				}
			}
		}
		
		@include e('nav') {
			margin-top: 20px;
			@extend %transition;
			&.scrolled {
				margin-top: 10px;
				ul li {
					font-size: 16px;
				}
			}
			ul {
				@extend %pmreset;
				display: flex;
				justify-content: space-between;
				li {
					@extend %pmreset;
					padding: 0 10px;
					list-style-type: none;
					font-size: 16px;
					font-weight: 300;
					position: relative;
					z-index: 10;
					a {
						text-decoration: none;
						color: $steel;
						@extend %transition;
						&:hover {
							color: $green;
						}
					}
					ul {
						@extend %transition;
						max-height: 0;
						//height: 0;
						opacity: 0;
						position: absolute;
						top: -5px;
						left: 0;
						flex-direction: column;
						white-space: nowrap;
						min-width: 100%;
						z-index: -1;
						overflow: hidden;
						border-left: 2px solid $green;
						padding-top: 40px;
						background-color: $white;
						li {
							display: block;
							min-width: 100%;
							width: 100%;
							@extend %transition;
							padding: 0;
							background-color: $white;
							&::before {
								content: '\e3d6';
								font-family: $fontawesome_pro;
								font-size: 10px;
								font-weight: 400;
								margin-right: 6px;
								position: absolute;
								left: 14px;
								top: 50%;
								transform: translateY(-50%);
								z-index: 1;
								@extend %transition;
							}
							&::after {
								content: '';
								height: 100%;
								/*max-width: 0;*/
								width: 100%;
								position: absolute;
								background-color: $green;
								top: 0;
								left: 0;
								z-index: -1;
								@extend %transition;
								opacity: 0;
							}
							a {
								padding: 12px 30px 12px 35px;
								display: block;
								position: relative;
								&:hover {
									color: $steel;
								}
							}
						}
					}
					
					&:hover {
						ul {
							top: 0;
							max-height: 5000%;
							opacity: 1;
							overflow: visible;
							li:hover{
								&::after {
									/*max-width: 100%;*/
									opacity: 1;
								}
							}
						}
					}
					
					@include media-breakpoint-up(xl) {
						padding: 0 15px;
						font-size: 18px;
					}
					@include media-breakpoint-up(xxl) {
						font-size: 20px;
					}
					&.flooring {
						a:hover {
							color: $flooring;
						}
						ul {
							border-color: $flooring;
							li {
								&:hover::before {
									color: $white;
								}
								a:hover {
									color: $white;
								}
								&::after {
									background-color: $flooring;
								}
							}
						}
					}
					&.industrial {
						a:hover {
							color: $industrial;
						}
						ul {
							border-color: $industrial;
							li {
								&:hover::before {
									color: $white;
								}
								a:hover {
									color: $white;
								}
								&::after {
									background-color: $industrial;
								}
							}
						}
					}
					&.bathing {
						a:hover {
							color: $bathing;
						}
						ul {
							border-color: $bathing;
							li {
								&:hover::before {
									color: $white;
								}
								a:hover {
									color: $white;
								}
								&::after {
									background-color: $bathing;
								}
							}
						}
					}
					&.balconies {
						a:hover {
							color: $balconies;
						}
						ul {
							border-color: $balconies;
							li {
								&:hover::before {
									color: $white;
								}
								a:hover {
									color: $white;
								}
								&::after {
									background-color: $balconies;
								}
							}
						}
					}
				}
			}
		}
		
	}
	
	&.sticky-header {
		position: fixed;
		width: 100%;
		display: block;
		background-color: $white;
		top: 0;
		z-index: 1000;
	}
}