.login-drawer {
	@include drawer_control;
	
	//customisations
	@include e('layer-1') {
		width: 80%;
		left: -100%;
		border-left: 2px solid $green;
		border-right: 2px solid $green;
		background-color: $grey_light;
		&.open {
			left: 0;
		}
		
		@include media-breakpoint-up(md) {
			width: 40%;
		}
	}
	@include e('logo-container') {
		color: $steel;
		max-width: 100%;
		@include media-breakpoint-up(md) {
			max-width: 50%;
		}
	}
	@include e('close') {
		span i {
			color: $steel;
		}
	}
	
	// drawer header height is always 10%
	@include e('body') {
	    height: 65%;
	    @include media-breakpoint-up(md) {
	    	padding-top: $default_spacing_xs;
	    }
	    
	    h6 {
	    	padding: $default_spacing_sm $default_spacing_xs $default_spacing_xs;
	    	@include media-breakpoint-up(md) {
	    		padding: $default_spacing_xs $default_spacing_xs 0;
	    	}
	    }
	    
	    form#loginform {
	    	padding: 0 $default_spacing_xs $default_spacing_xs;
	    	@include media-breakpoint-up(md) {
	    		padding: 10px $default_spacing_xs;
	    	}
	    	label {
	    		display: block;
	    		width: 100%;
	    	}
	    	input {
	    		display: block;
	    		width: 100%;
	    		border: none;
	    		padding: 10px 15px;
	    		margin: 0;
	    		&[type="submit"] {
					background-color: $green;
					color: $white;
					font-weight: 600;
					padding: 20px 30px;
					@extend %transition;
					&:hover {
						background-color: $green_alt;
					}
	    		}
	    	}
	    	p.login-remember {
	    		label, input {
	    			width: auto;
	    			display: inline-block;
	    		}
	    	}
	    }
	}
	@include e('footer') {
	    height: 25%;
	}
	
	@include e('footer') {
		border-top: 1px solid $steel;
		a {
			color: $steel;
			&:hover {
				color: $green;
			}
		}
		@include e('item') {
			color: $steel;
		}
	}
	
	@include drawer_menu_control;
	
	ul {
		padding: 0 $default_spacing_xs;
		li {
			color: $steel;
			a {
				color: $steel;
			}
		}
	}
}