li.has-mega-menu {
	//background-color: lightblue;
	.mega-menu { // the main container
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		display: none;
		transition: opacity 200ms ease, max-height 200ms ease;
		@include media-breakpoint-up(lg) {
			width: 100vw;
			top: 100%;
			display: unset;
			max-height: 0;
			opacity: 0;
			z-index: -1;
			overflow: hidden;
		}
		
		@include e('inner') {
			padding: 30px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			justify-content: flex-start;
			align-items: flex-start;
			
			@include media-breakpoint-up(lg) {
				background-color: $white;
				box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
				@include radius(10px);
				margin-top: 20px;
			}
			@include media-breakpoint-up(xl) {
				padding: 50px;
			}
		}
		@include e('cards') {
			display: flex;
			flex-direction: row;
			gap: 20px 10px;
			flex-wrap: wrap;
			margin-top: 20px;
			width: 100%;
			@include media-breakpoint-up(lg) {
				gap: 20px;
				margin-top: 0;
			}
		}
		.mega-card { // the "a" tag
			
			flex: 0 0 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			
			@include media-breakpoint-up(sm) {
				flex: 0 1 calc(50% - 5px);
			}
			
			@include media-breakpoint-up(lg) {
				flex-basis: calc(25% - 15px);
				overfow: hidden;
				@include radius(10px);
			}
			
			@include e('media') {
				position: relative;
				aspect-ratio: 4 / 3;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					display: block;
				}
			}
			@include e('body') {
				position: absolute;
				bottom: 20px;
				left: 0;
				width: 100%;
				background: rgba($black,0.6);
				padding: 5px 10px;
				@include media-breakpoint-up(lg) {
					bottom: 10px;
				}
			}
			@include e('title') {
				font-size: 16px;
				font-weight: 600;
				color: $white;
			}
			@include e('range') {
				font-size: 16px;
				color: $green;
				font-weight: 300;
			}
		}
		
		@include e('desc') {
			display: flex;
			flex-direction: column;
			gap: 15px;
			& * {
				color: $white;
				margin-bottom: 0;
			}
			
			@include media-breakpoint-up(lg) {
				& * {
					color: $steel;
				}
			}
		}
		
		&.active {
			display: block;
		}
	}
	
	@include media-breakpoint-up(lg) {
		//position: initial !important;
		&:hover {
			.mega-menu {
				//display: block;
				//transform: translateY(24px);
				max-height: 5000%;
				opacity: 1;
				overflow: visible;
			}
		}
	}
}