@mixin checkbox_radio_control {
	@extend %pmreset;
	.gchoice {
		@extend %pmreset;
		margin: 15px 0;
		list-style-type: none;
		display: flex;
		align-items: center;
		width: 50%;
		
		label {
			font-weight: 100 !important;
			margin: 0;
			color: $white;
			cursor: pointer;
		}
		input {
			-webkit-appearance: none;
			   -moz-appearance: none;
			        appearance: none;
			width: 20px;
			height: 20px;
			padding: 0;
			position: relative;
			margin-right: 10px;
			background-color: $white;
			cursor: pointer;
			&::after {
				content: "\f00c";
				font-family: $fontawesome_pro;
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				text-align: center;
				transform: translateY(-45%);
				color: $steel !important;
				font-size: 12px;
				font-weight: 700;
				@extend %transition;
				opacity: 0.2;
			}
			&:checked::after {
				opacity: 1;
			}
		}
	}
}
.order-drawer {
	@include drawer_control;
	
	//customisations
	@include e('layer-1') {
		width: 100%;
		right: -100%;
		border-left: none;
		border-right: none;
		background-color: $steel;
		&.open {
			right: 0;
		}
	}
	@include e('logo-container') {
		color: $grey_light;
		//max-width: 50%;
	}
	@include e('close') {
		span i {
			color: $grey_light;
		}
	}
	
	// drawer header height is always 10%
	@include e('body') {
	    height: 90%;
	    padding-top: 10%;
	}
	@include e('footer') {
	    height: 0;
	}
	
	@include e('footer') {
		border-top: 1px solid $steel;
		a {
			color: $green;
			&:hover {
				color: $green;
			}
		}
		@include e('item') {
			color: $steel;
		}
	}
	
	// order-form specific styles
	@include e('form') {
		ul.gform_fields li {
			margin: 0 0 20px;
			@include media-breakpoint-up(md) {
				margin: 0 1.5% 20px;
			}
		}
		
		.ginput_container {
			&.ginput_complex {
				span {
					display: inline-block !important;
					margin: 0 0 10px !important;
					width: 100%!important;
					&:first-child {
						margin-left: 0!important;
					}
					&:last-child {
						margin-right: 0!important;
					}
				}
			}
			&.ginput_container_checkbox {
				.gfield_checkbox {
					@include checkbox_radio_control;
					.gchoice {
						width: 100%;
					}
				}
			}
			&.ginput_container_radio {
				.gfield_radio {
					@include checkbox_radio_control;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					@include media-breakpoint-up(md) {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
					}
					.gchoice {
						@include media-breakpoint-up(md) {
							width: 33%;
							&:hover {
								label {
									color: $green;
								}
							}
						}
						input {
							width: 30px;
							height: 30px;
							&::after {
								font-size: 20px;
							}
						}
						label {
							@extend %transition;
							font-size: 18px;
						}
					}
				}
			}
		}
		
		.gfield_html {
			p,h1,h2,h3,h4,h5,h6 {
				color: $white;
			}
		}
		.gfield_html {
			font-size: 24px;
			font-weight: 100;
		}
		.consent_text {
			p {
				font-size: 16px;
				border-bottom: 1px solid $white;
				padding-bottom: 20px;
			}
		}
		.gform_submission_error {
			color: $white;
			font-size: 16px;
			border-top: 1px solid $green;
			border-bottom: 1px solid $green;
			padding: 8px 0;
		}
		.gfield_validation_message {
			color: $white;
			font-size: 12px;
		}
		
		.gform_page_footer {
			padding: 0;
			position: relative;
			
			@include media-breakpoint-up(md) {
				padding: 0 1.5%;
			}
			
			button span.button-span {
				background-color: $white;
				color: $steel !important;
				padding: 10px 20px;
				margin-right: 40px;
				span {
					right: -40px;
					background-color: $green;
					color: $steel !important;
					width: 40px;
					&::before {
						width: 40px;
					}
					&::after {
						width: 40px;
					}
				}
			}
			
			button[type="submit"] {
				position: absolute;
				right: 0;
				top: 0;
				span {
					background-color: $green !important;
					span {
						background-color: $white !important;
						&::before {
							color: $steel !important;
						}
						&::after {
							color: $steel !important;
						}
					}
				}
			}
			
			button.gform_next_button {
				position: absolute;
				right: 0;
				top: 0;
				@include media-breakpoint-up(md) {
					right: 1.5%
				}
			}
			
			button.gform_previous_button {
				span.button-span {
					margin-right: 0;
					margin-left: 40px;
					span {
						left: -40px;
						&::before {
							content: "\f053";
						}
						&::after {
							content: "\f053";
						}
					}
				}
			}
		}
	}
}